<!DOCTYPE html>
<html>
    <head>
      <title>Misawa Generator - <%= @tweet %></title>
        <link href="/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Misawa Generator</h1>
            <form class="well" method="get" action="/write">
                <label>Twitter ID:</label>
                <input name="user_id" type="text" class="span3" placeholder="@twitter_id" value="<%= @name %>"/>
                <span class="help-block">Write public twitter user.</span>
                <button type="submit" class="btn">Send</button>
                <div>
                    <img src="/image/<%= @image_path %>" />
                </div>
            </form>
        </div>
    </body>
</html>
